<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/style.css" />

<nav class="navbar navbar-expand-lg navbar-dark bg-primary"  >



    <div class="collapse navbar-collapse" id="navbarColor01">


        <a id="home" class="nav-link" href="/" >Home </a>


        <a id="lessons" class="nav-link" href="/lessons">Lessons</a>


    </div>
</nav>


 script.
    function fieldValidation() {
       var x = document.forms["infoForm"]["input"].value;
         if (x == "") {
           alert("Name must be filled out");

           return false;
         }
    }

</head>

<body>
<h1>How I made this </h1>

<p> I created this website from scratch using the MEAN stack (minus Angular), which is MongoDB, Express, Angular and NodeJS.
 NodeJS played an important role in the server-side programming part and MongoDB will be how I store information on lesson clients
  (I promise it's secure). Express is a framework that basically plays as the middle-man. 
</body>

</html>
