<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/style.css" />


<nav class="navbar navbar-expand-lg navbar-dark bg-primary"  >



    <div class="collapse navbar-collapse" id="navbarColor01">


        <a id="home" class="nav-link" href="/" >Home </a>


        <a id="lessons" class="nav-link" href="/lessons">Lessons</a>


    </div>
</nav>




<body>

<div class="content" >
    <br>
    <br>
    <p> Hi, I am Jonathan</p>

    <p> I want to do great things with smart people</p>

    <p> I studied Computer Information Systems with a concentration in Application Development at Georgia State University</p>


    <p> I have interned with <a href = "https://www.ups.com">UPS Information Technology</a> / <a href="https://www.mlb.com/mets/team/front-office"> New York Mets Information Technology</a> / <a href="http://brandproperties.com/"> Brand Investment Firm </a>  </p>
    <p> I write code for UPS Supply Chain now</p>
    <p> I am online in other places like: <a href="https://www.linkedin.com/in/jonathan-clark-71244611a/"> LinkedIn</a> / <a href="https://github.com/state2lake"> Github </a></p>

    <p> I can be reached via email: jclark81@student.gsu.edu </p>

    <p> And if you really must look at it, I have a <a href="images/Resume.pdf"> resume.</a></p>
    <img id=" image" src="images/aa_SF.jpg" width="350" height="350" onmouseover = "saySomething()" />
</div>
</html>



</body>
</html>
